<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!-- setTimeout directive -->
      <h1>{{ newUser.name }}</h1>
      <h1 v-once>{{ newUser.name }}</h1>
      <!-- {{ update() }} -->
      <p v-if="checkUser()">Show it</p>
      <!-- if else if else -->
      <p v-if="userAge > allowedAge">
        You are good to go
      </p>
      <p v-else-if="user === 'Francis'">
        You're great
      </p>
      <p v-else>
        You are not allowed
      </p>
      <!-- method call -->
      <p>{{ welcome() }}</p>
      <!-- basic data calls -->
      <p>is it true: {{ isItTrue ? 'Yes' : 'No' }}</p>
      <p>{{ array[1] }}</p>
      <p>{{ obj.car }}</p>
      <p>{{ func() }}</p>
      <!-- v-attributes -->
      <img v-bind:src="src" v-bind:alt="alt" />
      <a v-bind:href="link">Go to Google</a>
      <hr />
      <p v-text="myText"></p>
      <hr />
      <div v-html="myHTML"></div>
      <!-- alternative if/else - sets display to none -->
      <p v-show="user === 'Francis'">
        I am visible!
      </p>
      <p v-show="user !== 'Francis'">
        I am not Francis!
      </p>
      <!-- for loops -->
      <ul>
        <li v-for="(name, index) in array">{{ index }}: {{ name }}</li>
      </ul>
      <ul>
        <li v-for="(car,index) in cars">
          {{ index }}: {{ car.brand }} is {{ car.color }}
        </li>
      </ul>
      <ul>
        <li v-for="(value, key, index) in newUser">
          {{ index }} - {{ key }} : {{ value }}
        </li>
      </ul>
      <!-- v-on with events and modifiers -->
      <button v-on:click.right="updateName('Buddy', $event)">
        Right Click me!
      </button>
      <section class="box" v-on:mousemove="getCoord">Hover me</section>
      <p>X: {{ x }}</p>
      <p>Y: {{ y }}</p>

      <form v-on:submit.prevent="handleForm">
        <input />
        <button type="submit">Submit</button>
      </form>
      <!-- chained on key up modifiers -->
      <input
        type="text"
        v-on:keyup.space.enter="showEvent"
        placeholder="console logging"
      />
      <!-- using v-models like react state with forms -->
      <form v-on:submit.prevent="formHandler">
        <label for="first">First Name</label>
        <input type="text" v-model.trim.lazy="formData.first" />
        <hr />
        <label for="last">Last Name</label>
        <input type="text" v-model.trim.lazy="formData.last" />
        <label for="age">Age</label>
        <input type="text" v-model.number="formData.age" />
        <button type="submit">Submit</button>
      </form>

      <!-- Dynamically changing classes and styling -->

      <!-- <div
        class="element"
        v-bind:class="[colors.redClass.active ? colors.redClass.name : '']"
        v-on:click="colors.redClass.active = !colors.redClass.active, newStyle.fontSize = '50px'"
        v-bind:style="newStyle"
      >
        This is my content
      </div> -->

      <div
        class="element"
        v-bind:class="colorStyle"
        v-on:click="colorStyle = 'red'"
      >
        This is my content
      </div>

      <!-- watchers and computed properties -->

      <input v-model="user" />
      <button v-on:click="toggleActive">Other action</button>
      <hr />
      <div>Name: {{ compMessage }}</div>
      <div>Active: {{ isActive() }}</div>
      <div>Loading: {{ loading }}</div>

      <!-- shorthand (v-on: = @ && v-bind = :) -->

      <button @click="alertSomething">Alert something</button>
      <hr />
      <a :href="link">Hello</a>
      <hr />
      <input type="text" v-model="user" />

      <!-- accessing another Vue instance property -->
      <button @click="changeValue">Change</button>
      <hr />
      <div ref="title">Hello</div>
    </div>
    <div id="app2">
      <div>Instance two: {{ value }}</div>
      <button @click="saySomething">Alert</button>
    </div>
    <!-- template -->
    <div id="app3"></div>
    <div id="app4">
      <!-- component -->
      <name></name>
      <name></name>
      <!-- Lifecycle methods -->
      <div>{{ name }}</div>
      <button @click="updateName">Update name</button>
      <button @click="killit">Destroy</button>
    </div>
  </body>
  <script>
    const app1 = new Vue({
      el: '#app',
      data: {
        greeting: 'Hello guys',
        isItTrue: true,
        array: ['Francis', 'Jane', 'Bob', 'Buddy', 'Guy', 'Friend', 'Pal'],
        obj: {
          car: 'Ferrari'
        },
        func: () => {
          return 'Message from function';
        },
        src: 'https://picsum.photos/200',
        alt: 'Image',
        link: 'http://google.com',
        myText: 'Hello again',
        myHTML: '<strong>Francis Drake</strong>',
        userAge: 15,
        allowedAge: 18,
        user: 'Francis',
        cars: [
          {
            brand: 'Ferrari',
            color: 'Red'
          },
          {
            brand: 'Ford',
            color: 'Teal'
          },
          {
            brand: 'Kia',
            color: 'Purple'
          }
        ],
        newUser: {
          name: 'Frank',
          lastName: 'The Man',
          age: 300
        },
        x: 0,
        y: 0,
        formData: {
          first: '',
          last: '',
          age: ''
        },
        colors: { redClass: { name: 'red', active: true } },
        newStyle: { fontSize: '20px', border: '5px solid green' },
        colorStyle: 'blue',
        active: false,
        loading: false
      },
      watch: {
        // allows async code
        active(value) {
          this.loading = true;
          setTimeout(() => {
            this.loading = false;
          }, 3000);
        }
      },
      computed: {
        // only synchronous code
        compMessage() {
          return this.user === 'Francis' ? 'Welcome' : 'Not allowed';
        }
      },
      methods: {
        welcome() {
          return this.greeting;
        },
        checkUser() {
          return this.user === 'Francis' ? true : false;
        },
        update() {
          setTimeout(() => {
            this.newUser.name = 'Bob';
          }, 2000);
        },
        updateName(newName, e) {
          this.newUser.name = newName;
        },
        getCoord(e) {
          this.x = e.clientX;
          this.y = e.clientY;
        },
        handleForm() {
          this.newUser.name = 'Bobby Drake';
        },
        showEvent(e) {
          console.log(e.target.value);
        },
        formHandler() {
          console.log(this.formData);
        },
        isActive() {
          return this.active ? 'Active' : 'Not active';
        },
        toggleActive() {
          this.active = this.active ? false : true;
        },
        alertSomething() {
          alert('Hello world');
        },
        changeValue() {
          app2.value = 'The value changed';
          this.$refs.title.style.color = 'red';
          this.$refs.title.style.fontSize = '50px';
        }
      }
    });

    let messaged = 'Hey you guys!';

    const app2 = new Vue({
      el: '#app2',
      data: {
        value: 'Instance two working!'
      },
      methods: {
        saySomething() {
          alert(messaged);
        }
      }
    });

    const app3 = new Vue({
      data: {
        value: "I've mounted!"
      },
      template: `<p>{{ value }}</p>`
    });

    setTimeout(() => {
      app3.$mount('#app3');
    }, 2000);

    Vue.component('name', {
      data() {
        return { name: 'Bob' };
      },
      methods: {
        alertSomething() {
          alert('Hello there!!');
        }
      },
      template: `<div>
        <div>{{name}}</div>
        <button @click="alertSomething">Alert something</button>
      </div>
      `
    });

    const app4 = new Vue({
      el: '#app4',
      data: {
        name: 'Francis'
      },
      methods: {
        updateName() {
          this.name = 'Bobby Drake';
        },
        killit() {
          this.$destroy();
        }
      },
      beforeCreate() {
        console.log('Running before create');
      },
      created() {
        console.log('Running when created');
      },
      beforeMount() {
        console.log('Running before mount');
      },
      mounted() {
        console.log('Running mounted');
      },
      beforeUpdate() {
        console.log('Running before update');
      },
      updated() {
        console.log('Running after updated');
      },
      beforeDestroy() {
        console.log('Before destroy');
      },
      destroyed() {
        console.log('destroyed');
      }
    });
  </script>
  <style>
    .box {
      background: red;
      width: 200px;
      height: 200px;
    }
    .element {
      color: white;
      background: black;
      padding: 10px;
    }
    .red {
      background: red;
    }
    .blue {
      background: blue;
    }
    .green {
      background: green;
    }
  </style>
</html>
